@use "@styles/base" as *;

.next-match {
  background-color: $background-content;
  padding: 10px 20px;
  margin-top: 40px;
  color: white;

  .title {
    padding: 9px 10px 10px;
    color: $title;
    border-bottom: 1px solid $text-color-gray;

    h4 {
      font-size: 20px;
      font-weight: $font-weight;
      line-height: 100%;
    }
  }
}
