@use "@styles/base" as *;

.ant-btn {
  @include flex-center-content;
  height: 60px;
  width: 80px;
  padding: 8px 5px 10px;
  color: white;
  background-color: $point-box !important;
  gap: 4px;
  border: none;
  border-radius: 10px;
  span {
    font-size: 12px;
    color: $orange;
    font-weight: 300;
  }
  p {
    font-weight: 700;
  }
  &:hover {
    background-color: $header-background !important;
  }
}
