@use "@styles/base" as *;

.tab {
  margin-top: 20px;
  padding: 10px 0px;

  .ant-menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 2px;
    gap: 10px 20px;
    background-color: $background-content;
    .ant-menu-item {
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 100px;
      height: 40px;
      border-radius: 30px;
      border: 1px solid $text-color-gray;
      padding: 5px 15px 7px;
      gap: 5px;
      color: $text-color-gray;
      &:hover {
        color: white !important;
      }
      &::after {
        display: none;
      }
    }
    .ant-menu-item-selected {
      color: $active-button;
      background-color: $active-button-bg;
      border: 1px solid $active-button-border;
      &::after {
        display: none;
        border-bottom: none;
      }
    }
  }
  @media (max-width: 1400px) {
    overflow-x: scroll;
    @include scroll-bar;
  }
}
