@use "@styles/base" as *;

.match-box {
  width: 250px;
  height: 180px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 1rem;
  padding: 10px;
  background-color: $slide-box;
  color: $text-color-gray;
  .match-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 10px;
    margin-bottom: 15px;
    .match-head-left {
      display: flex;
      .icon {
        width: 16px;
        height: 16px;
      }
    }
  }
  .match-vs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    line-height: 21px;
    gap: 16px;
    margin-bottom: 25px;
    .match-vs-left {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      .flag {
        width: 14px;
        height: 14px;
      }
    }
    .match-vs-right {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      .flag {
        width: 14px;
        height: 14px;
      }
    }
  }
  .match-result {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    .match-border {
      border-bottom: 1px solid $text-color-gray;
      display: block;
      width: 100%;
      position: absolute;
    }
    .result {
      font-size: 12px;
      padding: 1px 20px 2px;
      position: absolute;
      text-align: center;
      left: 50%;
      transform: translate(-50%);
      top: -12px;
      background: $slide-box;
    }
  }
  .match-point {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4px;
    li {
      display: flex;
      justify-content: space-between;
      width: 70px;
      background-color: $point-box;
      border-radius: 5px;
      padding: 4px 10px 6px;
      font-size: $font-size;
    }
  }
}
